*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
}
.main{
    background-image: url("images/imgg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /* height: 70vh; */
    height: 95vh;
    position: relative;
    margin: auto;
}  
.main .box{
    height: 95vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0%;  
}   
nav{
    display: flex;
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 62px;
}
nav img{  
    color: red;
    width: 164px;
    z-index: 10;
    position: relative;
    top: 28%;
    margin-left: 6%;
}
nav button{
    z-index: 10;
    position: relative;
    width: 60px;
    height: 40px;
}
.hero{
    margin-top: 8%;
    padding: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    position: relative;
}
.hero> :first-child{
    font-weight: bolder;
    font-size: 48px;
    text-align: center;

}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}
.hero :nth-child(3){
    font-weight: 170;
    font-size: 26px;
    text-align: center;
}
.hero input{
    color: black;
}
.seperation{
    margin-top: 17.9%;
    height: 12px;
    background-color: gray;
}
.btn{
    font-weight: bold;
}
.btnn{
    background-color: rgb(246, 15, 15);
    color: white;
}
.btnnn{
    margin-top: 4%;
    font-size: 20px;
    border: 4px;
    padding: 6px 57px;
    color: white;
    background-color: red;
    gap: 3px;
}
.hero input{
    padding: 6px 57px;
    font-size: 20px;
    background-color: rgb(75 66 66 / 82%);
   gap: 3px;
   color: whitesmoke;
    
}
.super ::placeholder{
    /* float: left; */
    color: white;
    font-size: 20px;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secimg{
    position: relative;

}

.secimg img{
    width: 32vw;
    position: relative;
    z-index: 10;
    top: 54px;
}
.secimg video{
    position:absolute;
    top: 85px;
    right: 0;
    max-width: 28vw;
    /* width: 30vw; */
    margin-top: 19px;

}
seperation.first > div{
    display: flex;
    flex-direction: column;

}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;

}
section.first > div :nth-child(2){
    font-size: 30px;
    /* font-weight: bolder; */

}
.seperation2{
    margin-top: 8.9%;
    height: 12px;
    /* width: 12000px; */
    background-color: gray;
    opacity: 0.44;
    /* overflow: hidden; */
}
.seperation3{
    margin-top: 8.9%;
    height: 12px;
    background-color: gray;
    opacity: 0.44;
}
.seperation4{
    margin-top: 8.9%;
    height: 12px;
    background-color: gray;
    opacity: 0.44;
}
.seperation5{
    margin-top: 8.9%;
    height: 12px;
    background-color: gray;
    opacity: 0.44;
}
.faqbox:hover{
    background-color: gray;
}
.faq h2{
    text-align: center;
    padding-top: 62px;
    font-size: 60px;
    /* opacity: 0.34; */
    color: white;
}
.faq{
    /* background: black; */
    color: white;
    font-size: 32px;
    cursor: pointer;
    gap: 7px 0px;
}
.faqbox{
    display: flex;
    justify-content: space-between;
    background-color: rgb(62, 59, 59);
    /* opacity: 0.74; */
    padding: 24px;
    max-width: 70vw;
    margin: 34px auto;
    /* padding-bottom: 3px; */


}
.heroo{
    margin-top: -5%;
    padding: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
    position: relative;
    cursor: text;
}
.heroo p{
    margin-top: 4%;
    font-weight: bolder;
    font-size: 26px;
    text-align: center;

}
.heroo input{
    color: black;
}
.btn{
    font-weight: bold;
}
.btnn{
    background-color: rgb(246, 15, 15);
    color: white;
}
.btnnn{
    margin-top: 4%;
    font-size: 20px;
    border: 4px;
    padding: 6px 57px;
    color: white;
    background-color: red;
    gap: 3px;
}
.heroo input{
    padding: 6px 57px;
    font-size: 20px;
    background-color: rgb(75 66 66 / 82%);
   gap: 3px;
   color: whitesmoke;
    
}
.super ::placeholder{
    /* float: left; */
    color: white;
    font-size: 20px;
}
.seperation6{
    margin-top: 6.9%;
    height: 12px;
    background-color: gray;
    opacity: 0.44;
}
.footer{
    padding-top: 10px;
    color: white;
    margin-left: 25%;
    margin: 5% 14%;
    justify-content: space-between;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    text-decoration: underline;
    
}
.hello{
    flex-direction: row;
    color:white;
    margin-top: -18.6%;
    margin-left: 37%;
    /* padding-top: -90px; */
    float: right;
    position: absolute;
    text-decoration: underline;
    
}
.helloo{
    color: white;
    margin-top: -18.6%;
    margin-left: 56%;
    /* padding-top: -90px; */
    float: right;
    position: absolute;
    text-decoration: underline;
}
.hellooo{
    color: white;
    margin-top: -18.6%;
    margin-left: 77%;
    /* padding-top: -90px; */
    float: right;
    position: absolute;
    text-decoration: underline;
}
.btn0{
    /* margin-top: 4%; */
    font-size: 20px;
    border: 1px solid white; 
    padding: 6px 27px;
    color: white;
    background-color: black;
    /* gap: 3px; */
}
.kk{
    color: white;

    /* padding-top: 10px; */
    margin-top: 1.5%;
    position: absolute;
    text-decoration: underline;
}

